In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
csv_path = "../Desktop/Pymoli.csv"

In [3]:
Pymoli_df = pd.read_csv(csv_path)
Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Set new index to last_name
gender_df = Pymoli_df.set_index("Gender")
gender_df.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44

In [11]:
# Calculate the Number and Percentage by Gender
gender_total_counts = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players * 100
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals, "Percentage of Players": gender_demographics_percents})

# Minor Data Munging
gender_demographics = gender_demographics.round(2)

gender_demographics

TypeError: operands could not be broadcast together with shapes (81,) (484,)

In [ ]:
#Gender Demographics
gender_table = Pymoli_df["Gender"]
gender_table.head()

#Percentage and Count of Male Players
only_males = Pymoli_df.loc[Pymoli_df["Gender"] == "Male"]
male_count = only_males.count()
male_percentage = male_count/player_count
                        
                             
#Percentage and Count of Female Players
only_females = Pymoli_df.loc[Pymoli_df["Gender"] == "Female"]
female_count = only_females.count()
female_percentage = female_count/player_count

#Percentage and Count of Other / Non-Disclosed
only_other = Pymoli_df.loc[Pymoli_df["Gender"] == "Other / Non-Disclosed"]
other_count = only_other.count()
other_percentage = male_count/player_count